<h1>Existem {{count[0]}} itens.</h1>

<ul *ngFor="let dado of dados">
    <li ngClass="{{dado[6]}}">Ano: {{dado[0]}}</li>
    <li ngClass="{{dado[6]}}">Data Arquivamento: {{dado[1]}}</li>
    <li ngClass="{{dado[6]}}">Data de Abertura: {{dado[2]}}</li>
    <li ngClass="{{dado[6]}}">Código da região: {{dado[3]}}</li>
    <li ngClass="{{dado[6]}}">UF: {{dado[4]}}</li>
    <li ngClass="{{dado[6]}}">Atendida: {{dado[6]}}</li>
    <li ngClass="{{dado[6]}}">Cod_Assunto: {{dado[7]}}</li>
    <li ngClass="{{dado[6]}}">Cod_Problema: {{dado[8]}}</li>
    <li ngClass="{{dado[6]}}">Sexo Consumidor: {{dado[9]}}</li>
    <li ngClass="{{dado[6]}}">Faixa Etária do Consumidor: {{dado[10]}}</li>
    <li ngClass="{{dado[6]}}">CEP do Consumidor: {{dado[11]}}</li>
</ul>