<div class="center" *ngFor="let detalhe of dado">
    <div class="name">
        <h1>{{findAndReplace(detalhe[1])}}</h1>
        <h2>{{detalhe[5]}}</h2>
        <audio controls>
            <source src='http://localhost:8000/audio/{{detalhe[1]}}' type="audio/mpeg">
        </audio>
    </div>
    <video id='videoPlayer' width="560" height="315" controls>
        <source src='http://localhost:8000/video/{{detalhe[1]}}' type="video/mp4">
      </video>
    <!-- <video width="560" height="315" controls>
        <source src="../assets/{{detalhe[1]}}.mp4" type="video/mp4">
    </video> -->
    <!-- <iframe width="560" height="315" src="{{detalhe[3]}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
</div>